body {  background-color:powderblue;
        color: #ba3232;
        margin: auto;}
h1, h2, h3, h4, h5, h6{ width: 15%;
    border: 5px solid  #6382e7;
    padding: 50px;
    border-radius: 50px;
    text-align: center;
    margin: auto;}
table { width:100%;
        padding: 40px;
        line-height: 32px;
        margin: 32px 0;
        display: inline-block;
        border: 1px solid #ccc;}